[client]
  port            = 3306
  socket          = /tmp/mysql.sock
  
  [mysqld]
  port            = 3306
  socket          = /tmp/mysql.sock
  basedir         = /usr/local/mysql
  datadir         = /data/database/mysql/data
  log-error = /var/log/mysqld.log
  pid-file  = /var/run/mysqld/mysqld.pid
  plugin-dir = /usr/local/mysql/lib/plugin
  user = mysql
  bind-address=0.0.0.0
  skip-external-locking
  key_buffer_size = 256M
  max_allowed_packet = 256M
  table_open_cache = 256
  sort_buffer_size = 64M
  read_buffer_size = 64M
  read_rnd_buffer_size = 64M
  myisam_sort_buffer_size = 64M
  thread_cache_size = 8
  query_cache_size= 128M
  thread_concurrency = 8
  
  character-set-server=utf8
  lower_case_table_names=1
  
  #skip-networking
  log-bin=mysql-bin
  binlog_format=mixed
  server-id       = 1
  
  innodb_buffer_pool_size = 256M
  innodb_additional_mem_pool_size = 20M
  innodb_log_file_size = 64M
  innodb_log_buffer_size = 64M
  innodb_flush_log_at_trx_commit = 1
  innodb_lock_wait_timeout = 50
  
  [mysqld_safe]
  open-files-limit=65535
  
  
  [mysqldump]
  port = 3306
  socket = /tmp/mysql.sock
  add-drop-database
  add-drop-table
  quick
  max_allowed_packet = 256M
  
  [mysql]
  no-auto-rehash
